$navbar-height: 3.5rem;
$navbar-item-img-max-height: 2.25rem;

$primary: #002d5b;
$secondary: #f44800;
$success: #00af37;
$warning: #45009e;
$link: $secondary;

@import "~bulma/bulma.sass";

.card {
  margin-top: 2em;
  margin-bottom: 2em;
}
